{% extends "main.html" %}
{% load static %}
{% block content %}
<div class="desc_container" style="width: 1400px; height: 550px; text-align: center;">
    <p><video width="640" height="480" controls>
        <source src="/media/video1.mp4" type="video/mp4"></source>
        Тег video не поддерживается вашим браузером. 
    </video></p>
    <p><video width="640" height="480" controls>
        <source src="/media/video2.mp4" type="video/mp4"></source>
        Тег video не поддерживается вашим браузером. 
    </video></p>
</div>
{% endblock %}