{% extends "main.html" %}
{% load static %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <aside class="col-12 col-md-3">
          <div class="post_content">
          <div class="inner_post">
          <article>
            <h4><li>
              
                  Автор:
                   {{ post.author.get_full_name }} {{ post.author.username }}
                  
            </li></h4>
            <h3><li>
                  Заголовок:
                  <b>{{ post.title }}</b>
            </li></h3>
            </ul>
          
          <article class="col-12 col-md-9">
            {% if post.image %}
                <div class="post_img"><img src="/media/{{post.image}}" /></div>
            {% endif %}
            <li>Текст поста: {{ post.text }}</li>
          </article>
        </div>
        </div>
      </aside>
          {% if user.is_authenticated %}
            <div class="card my-4">
              <h5 class="card-header">Добавить комментарий:</h5>
              <div class="card-body">
                <form method="post" action="">
                  {% csrf_token %}      
                  <input type="text" name="body">
                  <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
              </div>
            </div>
          {% endif %}
  
          {% for comment in post_comments reversed %}
            <div class="media mb-4 comment">
              <div class="media-body comment_text">
                <h4 class="mt-0">
                  <a>
                    <b>{{ comment.author.username }}</b>
                  </a>
                </h5>
                <p>
                  {{ comment.text }}
                </p>
              </div>
            </div>
          {% endfor %}
    </div>
  <div class="container py-5">
{% endblock %}