body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #000000;
  line-height: 1.8;
  height: fit-content;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opros {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.post {
  width: auto;
  height: auto;
  border: 4mm ridge rgba(176, 255, 72, 0.6);
  margin: 5% 0;
}

.comment {
  width: 30%;
  height: auto;
  border: 4mm ridge rgba(176, 255, 72, 0.6);
  margin: 5% 0;
}

.comment_text {
  margin-left: 20px;
  margin-right: 20px;
}

.post_content {
  margin-top: 30px;
  border: 4mm ridge rgba(43, 43, 43, 0.6);
  width: 50%;
  height: auto;
}

.inner_post {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.post_info {
  text-align: right;
  margin-right: 20px;
}

.otzyv {
  text-align: center;
  width: 500px; 
  height: 500px;
  margin-top: 100px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border: 4mm ridge rgba(176, 255, 72, 0.6);
}

.post_creation_form {
  border: 4mm ridge rgba(176, 255, 72, 0.6);
}

.links {
  border: 4mm ridge rgba(176, 255, 72, 0.6);
  margin: auto;
  width: 800px;
  text-align: center;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/static/background/IMG_0349.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/static/background/IMG_0379.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/static/background/IMG_20221030_174007.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}